html {
}

body {
  width: 100%;
  margin: 0;
  background: #4e4c43;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  color: #fff;
}
