body {
  margin: 0 auto;
  width: 100%;
  background-color: white;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}